body{
    background-color: lightgreen;
    margin: 0 auto;
    max-width: 1200px;
}



h2 {
    text-align: center;
    font-size: 30px;
     color: white;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     2px 2px 0 #000;
    
}

img {
    margin: 0 auto;
    display: block;
    height: 400px;
    padding-bottom: 40px;
}

a {
    color:white;
    text-decoration: none;
}

div {
    border: 2px solid black;
    background-color: darkcyan
}